<section class="u-py-100 u-h-100vh u-flex-center bg-gradient-blue">
  <!-- <#%= render :partial => 'svg/rocket-launch', class: 'svg'%> -->
      <div class="container">
            <div class="row">
                  <div class="col-12 u-mt-80 text-center">
                        <h1 class="display-4 u-fw-500 text-white u-mb-40">
                              Hi, I'm Max <br>
                              <span class="text-blue-home" data-type="a Front-End, Back-End, Full-Stack Developer"></span>
                              <span class="typed-curcor text-blue-home">|</span>
                        </h1>
                        <p class="u-fs-18 text-white u-lh-1_8 u-mb-40">
                          I help companies and individuals understand, prototype and deploy custom web applications.
                        </p>
                        <a href="" class="btn btn btn-rounded btn-primary-blue-2 m-2 px-md-5 py-3" data-scrollto="project-section">
                          <!-- <#%= link_to 'Explore Projects', pages_Contact_path, class: "btn btn btn-rounded btn-primary-blue-2 m-2 px-md-5 py-3" %> -->
                              Explore Projects
                        </a>
                          <%= link_to 'Contact Me', pages_Contact_path, class: "btn btn btn-rounded btn-primary-pink-2 m-2 px-md-5 py-3" %>
                  </div>
            </div>
      </div>
</section>
<section class="u-py-100 bg-bb-blue" id="demo">
    <div class="container">
          <div class="row">
                <div class="col-12 text-center">
                      <h2 class="text-primary-blue u-fs-60">The Tech I Work With.</h2>
                      <h4>
                            I am always learning new technology and working on new project. Contact me to find out what I am working on now.
                      </h4>
                </div>
          </div>
    </div>
  <section class="u-py-80 bg-white-light">
        <div class="container">
              <div class="row text-center">
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/Ruby.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                Ruby
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/rails.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                Ruby on Rails
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/postgreSQL.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                PostgreSQL
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/heroku.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                Heroku
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/HTML5.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                HTML
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/CSS3.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                CSS
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/laravel-framework.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                Laravel
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/php.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                PHP
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/mysql.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                MYSQL
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/javascript.jpg", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                JavaScript
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/jquery.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                JQuery
                          </h4>
                    </div>
                    <div class="col-md-6 mt-5">
                          <!-- <a href="" target="_blank"> -->
                                <%=image_tag("presentation/github.png", class:"mb-4", alt: "", :size => "210x210")%>
                          <!-- </a> -->
                          <h4 class="text-blue-home">
                                Git & GitHub
                          </h4>
                    </div>
              </div>
        </div>
  </section>
</section>
<section class="u-py-100 bg-gradient-blue">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-lg-5 mb-5">
                        <h2 class="text-white u-fs-60">5+</h2>
                        <h4 class="text-blue-home">
                              Over the past five years
                        </h4>
                        <div class="u-h-4 u-w-50 bg-pink rounded mt-4 u-mb-40"></div>
                        <p class="text-white">
                              I have gained very valuable experience as part of project teams, manage projects, and since the begining of my journey as a developer, I've worked and collaborated with startups, and talented people to create digital products for both business and consumer use. I am confident that together we can create the product you have been dreaming of.
                        </p>
                  </div>
                  <div class="col-lg-7 mb-5">
                        <%=image_tag("presentation/project_juggling.svg", alt: "")%>


                  </div>
            </div>
      </div>
</section>
<section class="u-py-80 bg-bb-blue some-projects" id="project-section">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <h2 class="text-blue-home u-fs-60">6</h2>
                        <h4 class="text-blue-home">
                              Some Projects
                        </h4>
                        <div class="u-h-4 u-w-50 bg-pink rounded mt-4 u-mb-40 mx-auto"></div>
                        <p class="text-black">
                              These are some of the projects I been a part of.
                              Contact me to find out what I'm building now!
                              <br> click on the project name to see more.
                        </p>
                  </div>
            </div>
            <section>
              <div class="container">
                <div class="row" data-init="img-gallery">
                  <div class="col-md-6 col-lg-4 portfolio-item cat1 cat5">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/WhaleCareBandaidLogo2.png",  alt: "")%>

                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/WhaleCareBandaidLogo2.png")%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <a href="https://salty-atoll-75507.herokuapp.com/">
                            <h4 class="text-white">WellCare Pediatrics</h4>
                          </a>
                          <p>Pediatrics Concierge Service</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/sparkly_logo_background.png",  alt: "")%>
                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/sparkly_logo_background.png")%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <a href="https://www.sparklyhouse.com">
                            <h4 class="text-white">Sparkly</h4>
                          </a>
                          <p>Cleaning Company</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/go_with_me_presentation_1.png",  alt: "")%>
                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/go_with_me_presentation_1.png")%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <a href="https://github.com/enriqueguido/with_me">
                            <h4 class="text-white">GoWithMe</h4>
                          </a>
                          <p>Social Event & Meetup</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 portfolio-item cat3 cat4 cat1">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/wobblee_logo_background.png",  alt: "")%>
                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/wobblee_logo_background.png")%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <a href="https://github.com/galinap684/wobbleeapp-">
                            <h4 class="text-white">Wobblee</h4>
                          </a>
                          <p>Sobriety Test Game</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1 cat5">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/keddyme.png",  alt: "")%>
                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/keddyme.png",)%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <a href="#">
                            <h4 class="text-white">KeddyMe</h4>
                          </a>
                          <p>Mood design search engine<br> (Design Work/Other)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 portfolio-item cat5 cat4">
                    <div class="portfolio-block">
                    <%=image_tag("presentation/code_block_under_construction.png",  alt: "")%>
                      <div class="portfolio-overlay portfolio-overlay-blue">
                        <div class="portfolio-btn-action">
                          <a href="<%= image_path("presentation/code_block_under_construction.png")%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <h4 class="text-white">Coming Soon</h4>
                          <p>More Projects To Be Added Soon</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1">
                    <div class="portfolio-block">
                    <#%=image_tag("portfolio/1_3.jpg",  alt: "")%>
                      <div class="portfolio-overlay">
                        <div class="portfolio-btn-action">
                          <a href="<#%= image_path('portfolio/1_3.jpg')%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <h4 class="text-white">Creative Landing Page</h4>
                          <p>Design & Branding</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
                    <div class="portfolio-block">
                    <#%=image_tag("portfolio/1_4.jpg",  alt: "")%>
                      <div class="portfolio-overlay">
                        <div class="portfolio-btn-action">
                          <a href="<#%= image_path('portfolio/1_4.jpg')%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <h4 class="text-white">Creative Landing Page</h4>
                          <p>Design & Branding</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
                    <div class="portfolio-block">
                    <#%=image_tag("portfolio/1_5.jpg",  alt: "")%>
                      <div class="portfolio-overlay">
                        <div class="portfolio-btn-action">
                          <a href="<#%= image_path('portfolio/1_5.jpg')%>" data-fancybox="gallery">
                            <span class="fa fa-expand"></span>
                          </a>
                        </div>
                        <div class="portfolio-desc">
                          <h4 class="text-white">Creative Landing Page</h4>
                          <p>Design & Branding</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </section>
      </div>
</section>
<section class="bg-white-light">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <h2 class="h1 text-blue-home text-center">Additonal Experience</h2>
                        <div class="u-h-4 u-w-50 bg-pink rounded mt-4 u-mb-40 mx-auto"></div>
                        <!-- <p>
                              Develop your pages by copy and pasting ready blocks.
                              <br> You need to build a unique website in minutes with zero coding.
                        </p> -->
                  </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6 my-4 order-2 order-lg-1">
                <h2 class="u-mb-30 text-blue-home">
                  Project Management
                </h2>
                <p>
                  I have hands-on experience as a project managers and work with stakeholders and executives to understand and analyze projects requirements, and manage projects from beginning to end while ensuring that the projects get accomplish within its due time, budget, and scope
                </p>
              </div>
              <div class="col-lg-5 ml-auto mt-5 mb-4 order-1 order-lg-2">
              <%=image_tag("seo/start_up.svg", alt: "", :size => "410x410")%>
              </div>
            </div>
            <hr class=u-my-60>
            <div class="row align-items-center">
              <div class="col-lg-6 my-4">
              <%=image_tag("seo/preoject_management.svg", alt: "", :size => "410x410")%>
              </div>
              <div class="col-lg-5 ml-auto mt-5 mb-4">
                <h2 class="u-mb-30 text-blue-home">
                  Startup
                </h2>
                <p>
                  Have worked hand-in-hand with founders to design logos, pitch decks, and create products. My experience goes from the classroom to consumer products.
                </p>
              </div>
            </div>
            <!-- <div class="row text-center">
                  <div class="col-md-6 mt-5">
                        <a href="header-gradient.html" target="_blank">
                              <#%=image_tag("presentation/header/gradient.png", class: "rounded box-shadow-v1 mb-4", alt: "")%>

                        </a>
                        <h4>
                              Gradient
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-background.html" target="_blank">
                              <#%=image_tag("presentation/header/img_bg.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>


                        </a>
                        <h4>
                              Background Image
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-solid.html" target="_blank">
                              <#%=image_tag("presentation/header/solid_color.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>

                        </a>
                        <h4>
                              Solid Color
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-typing.html" target="_blank">
                              <#%=image_tag("presentation/header/typing.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>

                        </a>
                        <h4>
                              Typing Text
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-parallax.html" target="_blank">
                              <#%=image_tag("presentation/header/parallax.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>

                        </a>
                        <h4>
                              Parallax
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-video.html" target="_blank">
                              <#%=image_tag("presentation/header/video.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>
                        </a>
                        <h4>
                              Background Video
                        </h4>
                  </div>
            </div> -->
      </div>
</section>
<section class="bg-bb-blue u-pb-80">
      <div class="container">
            <div class="row">
                  <div class="col-12 u-mb-70">
                        <h2 class="h1 text-blue-home text-center">
                              My WebApplications Features
                        </h2>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Web text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Fully Responsive
                                    </h4>
                                    <p>
                                          My website are build custome to your needs.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Mouse text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Functional
                                    </h4>
                                    <p>
                                          All my sites are fully functional and easy to use.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Resume text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Well Designed
                                    </h4>
                                    <p>
                                          My sites are aesthetically pleasing and design for the future.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-DesktopMonitor text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Clean Code
                                    </h4>
                                    <p>
                                          I always write clean reliable code.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-ClosedLock text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Reliable & Secure
                                    </h4>
                                    <p>
                                          I build all my sites with realibility & security as my priority.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Briefcase text-primary-pink u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4 text-blue-home">
                                          Custome
                                    </h4>
                                    <p>
                                          My website are build custome to your needs.
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<section class="u-py-100 bg-gradient-blue">
      <div class="container">
            <div class="row text-center">
                  <div class="col-lg-6 mx-auto mt-5 text-white">
                        <p class="u-fs-20">
                              You are at the right place!
                        </p>
                        <h2 class="h1 text-blue-home my-4">
                              Together we can create
                              <span class="text-white">&</span> Launch the web-application you want
                        </h2>
                        <!-- <a href="#" class="btn btn btn-rounded btn-primary-pink-2 m-2 px-md-5 py-3">
                              Contact Me
                        </a> -->
                        <%= link_to 'Contact Me', pages_Contact_path, class: "btn btn btn-rounded btn-primary-pink-2 m-2 px-md-5 py-3" %>
                  </div>
            </div>
      </div>
</section>

<!-- Start of Async Drift Code -->
<script class="scroll-top">
  "use strict";

  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('m5xmtxgu8bud');

</script>
<!-- End of Async Drift Code -->
