<section class="u-py-100 u-h-100vh u-flex-center main-bg-gradient-1">
      <div class="container">
            <div class="row">
                  <div class="col-12 u-mt-80 text-center">
                        <h1 class="display-4 u-fw-500 text-white u-mb-40">
                              I'am Max
                              <br> <span class="text-purple" data-type="a Front-End, Back-End, Full-Stack Developer"></span>
                              <span class="typed-curcor text-purple"></span>
                        </h1>
                        <p class="u-fs-18 text-white u-lh-1_8 u-mb-40">
                              Tech enthusiast, passionate about life, and purpose driven developer always
                              <br> striving to provide quality work sustained by the highest creative thinking.
                        </p>
                        <a href="#" class="btn btn btn-rounded btn-primary m-2 px-md-5 py-3" data-scrollto="demo">
                              Explore Projects
                        </a>
                        <a href="#" class="btn btn btn-rounded btn-purple m-2 px-md-5 py-.btn-purple">
                              Contact Me
                        </a>
                  </div>
            </div>
            <!-- <div class="row mt-md-5"> -->
                  <!-- <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    4
                              </h2>
                              <p>
                                    Unique Landing Demo
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    10
                              </h2>
                              <p>
                                    Creative Inner Pages
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    20+
                              </h2>
                              <p>
                                    Reusable Elements
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    10
                              </h2>
                              <p>
                                    HTML Pages
                              </p>
                        </div>
                  </div> -->
            <!-- </div> -->
      </div>
</section>
<section class="u-py-100 bg-white" id="demo">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <h2 class="text-primary u-fs-60">Hi, I'm Max. Nice To Meet You.</h2>
                        <h4>
                              I Build Custome Ruby on Rails Web Applications.
                        </h4>
                        <div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40 mx-auto"></div>
                        <p>
                              Since the begining of my journey as a developer, I've worked
                              <br> and collaborated with startups, and talented people to
                              <br> create digital products for both business and consumer use.
                              <br> I am confident that together we can create the product you have been dreaming of.
                        </p>
                  </div>
            </div>
      </div>
</section>
<section class="u-py-80 bg-white-light">
  <div class="col-12 text-center">
        <!-- <h2 class="text-purple u-fs-60">10</h2> -->
        <h4>
              Technologies I Work With.
        </h4>
        <div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40 mx-auto"></div>
        <p class="text-black">
              Allways staying up to date with the most current tech stack.
              <br> Contact me to find out the new technologies and frameworks
              <br> I'm learning now.
        </p>
  </div>
  <div class="row text-center">
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/Ruby.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>

              <!-- </a> -->
              <h4 class="text-purple">
                    Ruby
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/rails.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>
              <!-- </a> -->
              <h4 class="text-purple">
                    Ruby on Rails
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/postgreSQL.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>
              <!-- </a> -->
              <h4 class="text-purple">
                    PostgreSQL
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/heroku.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>

              <!-- </a> -->
              <h4 class="text-purple">
                    Heroku
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/HTML5.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>

              <!-- </a> -->
              <h4 class="text-purple">
                    HTML
              </h4>
        </div>
        <div class="col-lg-4 col-sm-6 mt-5">
              <!-- <a href="" target="_blank"> -->
                    <%=image_tag("presentation/CSS3.png", class: "box-shadow-v1 mb-4", alt: "", :size => "210x210")%>

              <!-- </a> -->
              <h4 class="text-purple">
                    CSS
              </h4>
        </div>
        <div class="col-12 mt-5">
              <h4 class="text-purple">& More</h4>
        </div>
  </div>
</section>
<!-- <section class="u-py-100 main-bg-gradient-2">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-lg-5 mb-5">
                        <h2 class="text-white u-fs-60">20+</h2>
                        <h4>
                              Content Blocks
                        </h4>
                        <div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40"></div>
                        <p class="text-white">
                              Develop your pages by copy and pasting ready blocks. You need to build a unique website in minutes with zero coding.
                        </p>
                  </div>
                  <div class="col-lg-7 mb-5">
                        <%=image_tag("presentation/bootstrap.png", alt: "")%>


                  </div>
            </div>
      </div>
</section> -->
<section class="u-py-80 bg-white">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <!-- <h2 class="text-purple u-fs-60">10</h2> -->
                        <h2 class="text-primary u-fs-60">5</h2>
                        <h4>
                              Software Development & Project Management Experience
                        </h4>
                        <div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40 mx-auto"></div>
                        <p class="text-black">
                          I am a dedicated developer with over five years of combined Project Management &
                          <br> Software Development experience with a Bachelors in Information Teachnology following
                          <br> the dream of becoming a Data Scientist. I am passionate about what I do & along
                          <br> the years I have worked for companies such as Bank of America, PNC Bank, McNeil Group, &
                          <br> MDVIP among others. I have learned Agile Methodology, Lean Startup Methodology,
                          <br> and currently pursuing the very prestigious PMP designation.
                        </p>
                  </div>
            </div>
            <!-- <div class="container">
                  <div class="row text-center">
                        <div class="col-md-6 mt-5">
                              <a href="seo.html" target="_blank">
                                    <%#=image_tag("presentation/seo.png", class:"mb-4", alt: "")%>

                              </a>
                              <h4 class="text-purple">
                                    SEO Landing
                              </h4>
                        </div>
                        <div class="col-md-6 mt-5">
                              <a href="software.html" target="_blank">
                                    <%#=image_tag("presentation/software.png", class:"mb-4", alt: "")%>
                              </a>
                              <h4 class="text-purple">
                                    Software Landing
                              </h4>
                        </div>
                        <div class="col-md-6 mt-5">
                              <a href="app.html" target="_blank">
                                    <%#=image_tag("presentation/app.png", class:"mb-4", alt: "")%>
                              </a>
                              <h4 class="text-purple">
                                    App Landing
                              </h4>
                        </div>
                        <div class="col-md-6 mt-5">
                              <a href="admin.html" target="_blank">
                                    <%#=image_tag("presentation/admin.png", class:"mb-4", alt: "")%>
                              </a>
                              <h4 class="text-purple">
                                    Exclusive Admin
                              </h4>
                        </div>
                  </div>
            </div> -->
      </div>
</section>
<section class="bg-white-light">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <!-- <h2 class="text-primary u-fs-60">5</h2> -->
                        <h4>
                              My Projects
                        </h4>
                        <div class="u-h-4 u-w-50 bg-purple rounded mt-4 u-mb-40 mx-auto"></div>
                        <p>
                              These are some of the projects I have build and been a part of.
                              <br> I am always emersed in the developer comunity &
                              <br> taking on new projects. Stay tune to see what else I am working on.
                        </p>
                  </div>
            </div>
            <div class="row text-center">
                  <div class="col-md-6 mt-5">
                        <a href="https://github.com/enriqueguido/with_me" target="_blank">
                              <%=image_tag("presentation/header/go_with_me_presentation_1.png", class: "rounded box-shadow-v1 mb-4", alt: "", :size => "450x247")%>
                        </a>
                        <h4>
                              GoWithMe
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="https://github.com/galinap684/wobbleeapp-" target="_blank">
                              <%=image_tag("presentation/header/presentation_cover_page.png", class: "rounded box-shadow-v1 mb-4", alt: "", :size => "450x247")%>
                        </a>
                        <h4>
                              Wobblee
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5 kiz">
                        <a href="" target="_blank">
                              <%=image_tag("presentation/header/kiz_presentation_logo.png", class: "rounded box-shadow-v1 mb-4", alt: "", :size => "450x247")%>
                        </a>
                        <h4>
                              Kiz
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5 coming-soon">
                        <a href="" target="_blank">
                              <%=image_tag("presentation/header/code_block_under_construction_1.png", class: "rounded box-shadow-v1 mb-4", alt: "", :size => "450x247")%>
                        </a>
                        <h4>
                              Coming Soon
                        </h4>
                  </div>
                  <!-- <div class="col-md-6 mt-5">
                        <a href="header-parallax.html" target="_blank">
                              <%=image_tag("presentation/header/parallax.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>

                        </a>
                        <h4>
                              Parallax
                        </h4>
                  </div>
                  <div class="col-md-6 mt-5">
                        <a href="header-video.html" target="_blank">
                              <%=image_tag("presentation/header/video.jpg", class: "rounded box-shadow-v1 mb-4", alt: "")%>
                        </a>
                        <h4>
                              Background Video
                        </h4>
                  </div> -->
            </div>
      </div>
</section>
<section class="bg-white u-pb-80">
      <div class="container">
            <div class="row">
                  <div class="col-12 u-mb-70">
                        <h2 class="h1 text-purple text-center">
                              My Websites Features
                        </h2>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Briefcase text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Custome
                                    </h4>
                                    <p>
                                          My website are build custome to your needs.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Web text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Fully Responsive
                                    </h4>
                                    <p>
                                          My websites work on any device.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Mouse text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Functional
                                    </h4>
                                    <p>
                                          All my sites are fully functional and easy to use.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-Resume text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Well Designed
                                    </h4>
                                    <p>
                                          My sites are aesthetically pleasing and design for the future.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-DesktopMonitor text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Clean Code
                                    </h4>
                                    <p>
                                          I always write clean reliable code.
                                    </p>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 u-mb-70">
                        <div class="media">
                              <span class="icon icon-ClosedLock text-primary u-fs-42 mr-4"></span>
                              <div class="media-body">
                                    <h4 class="mb-4">
                                          Reliable & Secure
                                    </h4>
                                    <p>
                                          I build all my sites with realibility & security as my priority.
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<section class="u-py-100" style="background:#ffff">
      <div class="container">
            <div class="row text-center">
                  <div class="col-lg-6 mx-auto mt-5 text-white">
                        <p class="u-fs-20" style="color:#007bff">
                              You are at the right place
                        </p>
                        <h2 class="h1 text-purple my-4">
                              I have superb communication skills
                              <span class="text-blue-center">&</span> Together we can create a beatiful web app
                        </h2>
                        <a href="#" class="btn btn btn-rounded btn-purple m-2 px-md-5 py-3">
                              Contact Me
                        </a>
                  </div>
            </div>
      </div>
</section>
