<section class="u-py-100 u-flex-center u-h-100vh header-bck-img", data-dark-overlay="6">
   <div class=container>
   <div class=row>
      <div class="text-center col-12 u-mt-80">
         <div class="text-center col-12 u-mt-80">
            <h1 class=text-white>About Me</h1>
            <div class="rounded u-h-4 u-w-50 bg-pink mx-auto my-4"></div>
            <p class="text-white lead">Learn more about my life, my experience, my hobbies
               <br>& how we can work together.
         </div>
      </div>
   </div>
</section>
<section class=bg-bb-blue>
   <div class=container>
      <div class="row align-items-center">
         <div class="text-center col-lg-5 mb-4 mr-auto">
            <%=image_tag("about/Selfie-1.jpg", class: "rounded w-100 wow fadeInLeft", alt: "")%>
         </div>
         <div class=col-lg-6>
            <h2 class=h1>
               <span class="text-blue-home">Who</span> I am
            </h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-pink"></div>
            <p class=mb-5>A tech lover at heart with an analylitcal mind and an eye for detailed.
               I am an attentive, compassionate individual, tolerant of many things while supportive of others and their goals.
            <ul class="list-unstyled u-fw-600">
               <li class="align-items-center d-flex mb-2">
                  <span class="fa fa-check-circle bt-pink mr-2 u-fs-20"></span> Professional and industry knowledgable
               <li class="align-items-center d-flex mb-2">
                  <span class="fa fa-check-circle bt-pink mr-2 u-fs-20"></span> I am dedicated and committed to perfecting my craft
               <li class="align-items-center d-flex mb-2">
                  <span class="fa fa-check-circle bt-pink mr-2 u-fs-20"></span> Ambitious, driven, and results oriented
               <li class="align-items-center d-flex mb-2">
                  <span class="fa fa-check-circle bt-pink mr-2 u-fs-20"></span> Love problem solving and finding fixes with technology
            </ul>
         </div>
      </div>
   </div>
</section>
<hr class=m-0>
<section>
   <div class=container>
      <div class="row align-items-center">
         <div class=col-lg-6>
           <h2 class=h1>
              <span class="text-blue-home">What</span> I do
           </h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-pink"></div>
            <p>As a Full-Stack Web Developer I create server side web applications that are secure, realiable,
               and scalable build on the Ruby on Rails platform
            <div class="mt-4 media">
               <span class="icon text-primary mr-3 mt-2 u-fs-28 icon-ClipboardChart text-primary-pink"></span>
               <div class=media-body>
                  <h4 class="h5 text-blue-home">Work With Any Team</h4>
                  <p>I pride myself on having the experience that allows meto bridge the complex gap between the IT and business world with excellent communication helping me to work well among diverse teams.
               </div>
            </div>
            <div class="mt-4 media">
               <span class="icon text-primary mr-3 mt-2 u-fs-28 icon-Book text-primary-pink"></span>
               <div class=media-body>
                  <h4 class="h5 text-blue-home">Sound Knodledge</h4>
                  <p>Databased design and development klowledge along with the ability to develop Graphical User Interfaces, data structures, and algorithms.
               </div>
            </div>
         </div>
         <div class="text-center col-lg-5 ml-auto">
            <%=image_tag("about/GuidoEnrique .jpg", class: "rounded w-100 wow fadeInRight", alt: "")%>
         </div>
      </div>
   </div>
</section>
<section class="u-py-100 u-flex-center u-h-100vh parallax-about", data-dark-overlay="6">
   <div class=container>
      <div class="row text-center">
         <div class=col-12>
            <h1 class=text-white>My Experience</h1>
            <div class="rounded u-h-4 u-w-50 mt-4 mx-auto u-mb-40 bg-pink"></div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Tools"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">MDVIP</h4>
               <p>Currently as a Project Manager I work with stakeholders and executives to understand and analyze projects requirements, and manage projects from beginning to end while ensuring that the projects get accomplish within its due time, budget, and scope. Perform business analyst functions depending on size of the project or requirements.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-ClipboardChart"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">Sparkly</h4>
               <p>Brought an online presence, and helped the founders turn years of work into a company brand that they love and can get behind on. I worked hand in hand with both owners to create a their company logo, fliers, additional branding, and website designed.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Pulse"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">WellCare</h4>
               <p>WellCare Pediactrics is a platform designed to let pediatricians switch to a concierge practice by following our business model.Build on ROR WellCare uses open source EMR technology that allows physicians to see less patients, while alowing them to have more control over their patients and their medical records, saving them time, money, and much more.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Starship2"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">MacNeill Group</h4>
               <p>Acquired a CISR designation in the insurance industry, and worked closely with team leaders to process endorsements and/or changes within approved authority level and perform transactions according to the latest corporate standards, manual rates, guidelines and procedures.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-MessageLeft"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">PNG Bank</h4>
               <p>At PNC BANK I was a Back-Up Teller Supervisor in a DeNovo Branch. I was in charge of various tasks that ranged from full control of the banks vault, the bank’s ATM’s and all of its corresponding duties, deposits and withdrawal, opening and closing functions, and calling prospective clients as well as businesses for future partnerships.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Notebook"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">Bank of America</h4>
               <p>At Bank of America I was a Teller and always met and surpass performance and sales goals, mantained cash accuracy, made deposits and withdrawals, CTR’s, and currency exchanges, while making each customer feel valued, important and deserving of the best service possible.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Bulb"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">KeddyMe</h4>
               <p>Turned the founders creative idea into their company logo and worked closely with the CEO/Founder to design a pitch deck for their first round of founding, and assisted in other design needs.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Magnet"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">Startup</h4>
               <p>Won Palm Beach Startup Weekend 2015, attended FAU startup bootcamp, have learned lean startup methedologies and took part in several projects that give me unique experiences and knowledge that can not be thought.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-blue">
                  <span class="icon u-fs-42 icon-Tie"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30 text-blue-home">Coming Soon</h4>
               <p>More experience coming soon. Stay tuned!
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class="h1 text-blue-home">My Education</h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 mx-auto bg-pink"></div>
         </div>
      </div>
      <div class="row align-items-center">
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/BrowardLogo.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Broward College</h4>
                  <p class="mb-0 text-muted">Information Technology
                  <p class=my-4>Curretly pursuing a bachelors degree in Information Technology with a minors in Business Administration
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/wyncode-academy.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Wyncode Academy</h4>
                  <p class="mb-0 text-muted">Full Stack Web Development
                  <p class="dead-space">Obtain on 2017
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/BrowardLogo.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Broward College</h4>
                  <p class="mb-0 text-muted">Certified Accounting Technology Specialist
                  <p class=my-4>Obtain on 2015
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/BrowardLogo.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Broward College</h4>
                  <p class="mb-0 text-muted">Business Specialist Certification
                  <p class=my-4>Obtain on 2015
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/BrowardLogo.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Broward College</h4>
                  <p class="mb-0 text-muted">Business Operations Certification
                  <p class=my-4>Obtain on 2015
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/BrowardLogo.png", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class="mb-0 text-blue-home">Broward College</h4>
                  <p class="mb-0 text-muted">Business Management Certification
                  <p class=my-4>Obtain on 2015
                  <ul class="list-inline social social-rounded social-default-about social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class="h1 text-blue-home">
               Why I am the
               <span class=text-primary>Best for your Project</span>
               <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-pink mx-auto"></div>
            </h2>
         </div>
         <div class="mt-4 col-lg-6 pr-lg-5">
            <p class=mb-4>I have gain a diverse set of skills in both the Business and IT world and gained Hands on experience developing software applications and sound knowledge of the following computer languages/frameworks:
            <ul class="list-unstyled u-fw-600">
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle  mr-2 u-fs-20"></span> REST Architecture
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle mr-2 u-fs-20"></span> Version Control With Git
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle mr-2 u-fs-20"></span> Agile Methodology
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle mr-2 u-fs-20"></span> Lean Startup Methodology
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle mr-2 u-fs-20"></span> Adobe PhotoShop & Illustrator
               <li class="align-items-center d-flex mb-2">
                  <span class="fa bt-pink fa-check-circle mr-2 u-fs-20"></span> Microsoft Suite Applications
            </ul>
         </div>
         <div class="mt-4 col-lg-6">
            <div class="col-lg-10 mt-4 mx-auto">
              <div class="progress-item mb-5">
                <span>HTML CSS JS/Front End Technologies</span>
                <h4 class="float-right text-primary">80%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="80"></div>
                </div>
              </div>
              <div class="progress-item mb-5">
                <span>Ruby</span>
                <h4 class="float-right text-primary">75%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="75"></div>
                </div>
              </div>
              <div class="progress-item mb-5">
                <span>Ruby on Rails</span>
                <h4 class="float-right text-primary">75%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="75"></div>
                </div>
              </div>
              <div class="progress-item mb-5">
                <span>SQL</span>
                <h4 class="float-right text-primary">70%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="70"></div>
                </div>
              </div>
              <div class="progress-item mb-5">
                <span>Laravel</span>
                <h4 class="float-right text-primary">70%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="70"></div>
                </div>
              </div>
              <div class="progress-item mb-5">
                <span>PHP</span>
                <h4 class="float-right text-primary">70%</h4>
                <div class="progress w-100">
                  <div class="progress-bar" aria-valuenow="70"></div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- <section class="u-py-100 u-flex-center u-h-100vh" data-parallax=assets/img/about/features.jpg id=features>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class="h1 text-purple">What Our Customers Say</h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mx-auto bg-white u-mb-60"></div>
         </div>
      </div>
      <div data-init=carousel data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white text-center"}'
         data-slick-margin=30>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <#%=image_tag("person/1.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>Kenelia Deshmukh</h4>
            <p class=text-muted>Creative Director
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <#%=image_tag("person/2.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>Dorian Black</h4>
            <p class=text-muted>Manager
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <#%=image_tag("person/3.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>David Case</h4>
            <p class=text-muted>Designer
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
      </div>
   </div>
</section> -->
<section class="u-py-100 bg-gradient-blue">
   <div class=container>
      <div class=row>
         <div class="text-center col-12 align-items-center d-flex justify-content-center">
            <h2 class="text-white h1 mx-md-5">Let's Start an Awesome Project Now!</h2>
            <!-- <a href=# class="btn btn-primary-about-pink btn-rounded"> -->
              <%= link_to 'Contact Me', pages_Contact_path, class: "btn btn-primary-about-pink btn-rounded" %>
            <!-- </a> -->
         </div>
      </div>
   </div>
</section>
